body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

img {
  border: 0; }

form {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

dl, dt, dd {
  margin: 0;
  padding: 0; }

li img, dt img, dd img {
  vertical-align: top; }

a {
  outline: none; }
  a:focus {
    -moz-outline-style: none; }

.trans_origin_center {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.pos_center, body #luck-wheel-regular .circle-inside, body #luck-wheel-regular .circle-inside .circle-center .processing-bar, body #luck-wheel-regular .circle-inside .circle-pointer .bar-pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); }

.border_circle, body #luck-wheel-regular, body #luck-wheel-regular .circle-outside .score-pointer, body #luck-wheel-regular .circle-inside, body #luck-wheel-regular .circle-inside .circle-center, body #luck-wheel-regular .circle-inside .circle-pointer {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px; }

.box-sizing, body #luck-wheel-regular .circle-inside .circle-center {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body #luck-wheel-regular {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden; }
  body #luck-wheel-regular .circle-outside .score-pointer {
    width: 100%;
    height: 100%;
    color: white;
    font-family: Nasalization; }
    body #luck-wheel-regular .circle-outside .score-pointer li {
      position: absolute;
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
      padding-bottom: 35%;
      bottom: 50%;
      left: 50%;
      font-size: 40px; }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(1) {
        -ms-transform: rotate(0deg) translate(-50%);
        -webkit-transform: rotate(0deg) translate(-50%);
        transform: rotate(0deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(2) {
        -ms-transform: rotate(36deg) translate(-50%);
        -webkit-transform: rotate(36deg) translate(-50%);
        transform: rotate(36deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(3) {
        -ms-transform: rotate(72deg) translate(-50%);
        -webkit-transform: rotate(72deg) translate(-50%);
        transform: rotate(72deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(4) {
        -ms-transform: rotate(108deg) translate(-50%);
        -webkit-transform: rotate(108deg) translate(-50%);
        transform: rotate(108deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(5) {
        -ms-transform: rotate(144deg) translate(-50%);
        -webkit-transform: rotate(144deg) translate(-50%);
        transform: rotate(144deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(6) {
        -ms-transform: rotate(180deg) translate(-50%);
        -webkit-transform: rotate(180deg) translate(-50%);
        transform: rotate(180deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(7) {
        -ms-transform: rotate(216deg) translate(-50%);
        -webkit-transform: rotate(216deg) translate(-50%);
        transform: rotate(216deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(8) {
        -ms-transform: rotate(252deg) translate(-50%);
        -webkit-transform: rotate(252deg) translate(-50%);
        transform: rotate(252deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(9) {
        -ms-transform: rotate(288deg) translate(-50%);
        -webkit-transform: rotate(288deg) translate(-50%);
        transform: rotate(288deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li:nth-child(10) {
        -ms-transform: rotate(324deg) translate(-50%);
        -webkit-transform: rotate(324deg) translate(-50%);
        transform: rotate(324deg) translate(-50%); }
      body #luck-wheel-regular .circle-outside .score-pointer li.selected {
        color: red; }
  body #luck-wheel-regular .circle-inside {
    height: 70%;
    width: 70%; }
    body #luck-wheel-regular .circle-inside .circle-center {
      position: absolute;
      top: 25%;
      left: 25%;
      bottom: 25%;
      right: 25%;
      background-color: #e75300; }
      body #luck-wheel-regular .circle-inside .circle-center .processing-bar div {
        width: 20px;
        height: 20px;
        background-color: white;
        display: inline-block; }
        body #luck-wheel-regular .circle-inside .circle-center .processing-bar div + div {
          margin-left: 4px; }
        body #luck-wheel-regular .circle-inside .circle-center .processing-bar div:nth-child(2) {
          height: 40px; }
        body #luck-wheel-regular .circle-inside .circle-center .processing-bar div:nth-child(3) {
          height: 60px; }
    body #luck-wheel-regular .circle-inside .circle-pointer {
      position: absolute;
      top: 5%;
      left: 5%;
      bottom: 5%;
      right: 5%; }
      body #luck-wheel-regular .circle-inside .circle-pointer .bar-pointer {
        width: 35px;
        height: 55px;
        background-color: white;
        top: -10px; }

.auto-wheel-clock {
  animation: wheel_rotate linear 20s forwards;
  animation-iteration-count: infinite;
  -webkit-animation: wheel_rotate linear 20s forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: wheel_rotate linear 20s forwards;
  -moz-animation-iteration-count: infinite;
  -o-animation: wheel_rotate linear 20s forwards;
  -o-animation-iteration-count: infinite;
  -ms-animation: wheel_rotate linear 20s forwards;
  -ms-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@keyframes wheel_rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-moz-keyframes wheel_rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes wheel_rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-o-keyframes wheel_rotate {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(360deg); } }
@-ms-keyframes wheel_rotate {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
.auto-wheel-clock-rv {
  animation: wheel_rotate-rv linear 30s forwards;
  animation-iteration-count: infinite;
  -webkit-animation: wheel_rotate-rv linear 30s forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: wheel_rotate-rv linear 30s forwards;
  -moz-animation-iteration-count: infinite;
  -o-animation: wheel_rotate-rv linear 30s forwards;
  -o-animation-iteration-count: infinite;
  -ms-animation: wheel_rotate-rv linear 30s forwards;
  -ms-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@keyframes wheel_rotate-rv {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }
@-moz-keyframes wheel_rotate-rv {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg); } }
@-webkit-keyframes wheel_rotate-rv {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg); } }
@-o-keyframes wheel_rotate-rv {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(-360deg); } }
@-ms-keyframes wheel_rotate-rv {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(-360deg); } }

/*# sourceMappingURL=main.css.map */
